//color variables
$pumpkin: #ef7622;
$white: #fff;

//path(source) variables for font-icon and roboto
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/src/assets/fonts-icon" !default;
$roboto-font-family: "Roboto" !default;
$roboto-font-path: "/src/assets/font-roboto/" !default;
$sans-serif-font-family: sans-serif !default;

//variables for font-icon content
$icon-browser-reload: unquote('"\\e901"');
$icon-connect-circle: unquote('"\\e902"');
$icon-currency-graph: unquote('"\\e903"');
$icon-diamond-hand: unquote('"\\e904"');
$icon-dotted-circle-eye: unquote('"\\e905"');
$icon-Facebook: unquote('"\\e906"');
$icon-graph-plot-mix: unquote('"\\e907"');
$icon-graph-plot-straight: unquote('"\\e908"');
$icon-skel-box: unquote('"\\e90b"');
$icon-tower-signal: unquote('"\\e90c"');
$icon-Twitter: unquote('"\\e90d"');
$icon-v-logo-path1: unquote('"\\e90e"');
$icon-v-logo-path2: unquote('"\\e90f"');
$icon-v-logo-path3: unquote('"\\e910"');
